<section data-ng-controller="HomeController">
	<div class="row jumbotron">
		
			<div style=" position: absolute; bottom: 20%" class"col-md-2 col-md-offset-12 col-sm-6 col-sm-offset-12 col-xs-12">
			<h1 style="color:white; font-size:75px">Hummingbird</h1>
			<p style="color:purple; font-size:50px" class="lead">
			Healthcare made accessible.
 			</p>
 			<a class="navbar-btn btn btn-info" ng-controller="ModalController" ng-click="open('md', '/modules/core/views/order-now.client.view.html')">Order Now</a>
 		</div>
	
</section>



<!--
	<button  type="submit" id="singlebutton" name="singlebutton" class="btn btn-lg btn-primary" ng-click="open('md', '/modules/core/views/contact-form.client.view.html')"><span class="glyphicon glyphicon-hand-right"></span><b> Order Now</b> </button>