<section ng-controller="LabController" data-ng-init="getRegistered()">
	<section data-ng-init="getNotifications()">
		<div class="page-header">
			<h2>Incoming Orders</h2>
		</div>
		<div ng-show = "registeredOrders.length !== 0">
			<div class="row">
				<div class="col-md-11">
					<table class="table table-hover table-condensed table-bordered">
						<thead>
							<tr>
								<th class="col-md-3">Order ID</th>
								<th class="col-md-3">Time</th>
								<th classs="col-md-3">Test Type</th>
								<th class="col-md-3">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="order in registeredOrders">
								<td>{{order.orderId}}</td>
								<td>{{order.created}}</td>
								<td>{{order.item}}</td>
								<td>{{order.status[0]}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div ng-hide = "registeredOrders.length !== 0">
			<p>No Orders Registered.</p>
		</div>
</section>
</section>
