<section >
	 <div class="page-header">
	 <h2>Notificaitons for Rejected Result</h2>
     </div>
		<!--lab order and description table-->
			<div class="row">
				<div class="col-md-12">
					<table class="table table-hover table-condensed table-striped">
						<thead>
							<tr>
								<br>
								<th class="col-md-4"><h4><b>Result Order</h4></b></th>
								<th class="col-md-4"><h4><b>Comment</h4></b></th>
								<th class="col-md-1"></th>
								</tr>
								</thead>
								<tbody>

							 	<tr>
			   					 <td>Order ID = 97503964222<br>Verifier ID = 715c075e06dfe5<br>Date and Time=11/5/2014 1:15
			   					 </td>
			   					 <td>please re-test, this test had something something wrong</td>
			   				  	 <td vertical-align="middle"> <br> <a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>	</td>
			   					</tr>

				  				<tr>
				   				<td>Order ID = 51996948841<br>Verifier ID = f2569815565c57<br>Date and Time=11/5/2014 1:15
				   				</td>
				   				<td> please re-test, this test had something something wrong </td>
				   				 <td vertical-align="middle"> <br> <a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>	</td>
				   				</tr>

				   				<tr>
				   				<td>Order ID = 46921844167<br>Verifier ID = d438a63e905a18<br>Date and Time=11/5/2014 1:15</td>
				   				<td> please re-test, this test had something something wrong </td>
				   				 <td vertical-align="middle"> <br> <a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>	</td>
				   				</tr>
								</tbody>
								</table>
								</div>
								</div>   
								<div ng-hide = "orders.length !== 0">
								<p>No orders for verification. </p>
								<a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> </a>
								</div>
</section>