<section data-ng-controller="LabController" data-ng-init = "setIndex()">
	<div class="modal-body">
		<h4>Order Information</h4>
			<ul>
				<li>Order ID: {{completedOrderInfo.orderId}}</li>
				<li>Kit type: {{completedOrderInfo.kit}}</li>
				<li>Placed Date: {{completedOrderInfo.orderCreated}}</li>
			</ul>
		<h4>Result Information</h4>
			<ul>
				<li>Submitted By: {{completedOrderInfo.submittedBy}}</li>
				<li>Submitted Date: {{completedOrderInfo.resultCreated}}</li>
				<li>Positive/Negative: {{completedOrderInfo.result}} </li>
				<li>Submitter Comments: {{completedOrderInfo.comments}} </li>
				{{ink}}
			</ul>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-info" ng-click="$emit('closeModal')">Close</button>
	</div>
</section>