<section data-ng-controller="CustomerHistoryController" data-ng-init = "getHistory()">
	<h2>Order History</h2>
	<div class = "well">
		<div>
			<table class="table table-hover table-condensed table-bordered">
			    <thead>
			        <tr>
						<th class="col-md-3">ID</th>
						<th class="col-md-3">Test Type</th>
						<th class="col-md-3">Date</th>
						<th class="col-md-3">Result</th>
						<th class="col-md-3">location</th>
						<th class="col-md-3">View</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="order in orders">
						<td>{{order.orderId}}</td>
						<td>{{order.item}}</td>
						<td>{{order.created}}</td>
						<td>{{order.result}}</td>
						<td>{{order.tracking}}</td>
						<td>{{order.View}}</td>						
			        </tr>
			    </tbody>
			    </table>
			</div>
		</div>
</section>
