<section data-ng-controller="CustomerHistoryController" data-ng-init = "getHistory()">
	<div class = "well">
		<h2>Order History</h2>
		<div>
			<table class="table table-hover table-condensed table-bordered">
			    <thead>
			        <tr>
						<th class="col-md-3">ID</th>
						<th class="col-md-3">Test Type</th>
						<th class="col-md-3">Date</th>
						<th class="col-md-3">Result</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="order in orders">
						<td>{{order.orderId}}</td>
						<td>{{order.item}}</td>
						<td>{{order.created}}</td>
						<td>{{order.result}}</td>
			        </tr>
			    </tbody>
			    </table>
			</table>
		</div>
	</div>
</section>
