<section data-ng-controller="NewOrderCtrl" data-ng-init = "getKits()">
	<h2>New Order</h2>
		<div class = "well">

	<form name="sampleTest"class="form-horizontal" ng-submit="submitOrder()">
		<fieldset>
			<legend>Test Kit Information</legend>

				<!-- Select Basic -->
			<div class="form-group">
				<label class="col-md-2 control-label">Select a Test Kit</label>
				<div class="col-md-2">
					<select class="form-control" data-ng-model="formData.kitName">
						<option ng-repeat="kit in availableKits" value="{{kit.name}}">{{kit.name}}</option>
					</select>
				</div>
			</div>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-2 control-label" for="textinput">Text Input</label>  
				<div class="col-md-2">
					<input id="textinput" name="textinput" data-ng-model="formData.field1" placeholder="placeholder" class="form-control input-md" type="text">
				</div>
			</div>
			<!-- Multiple Radios -->
			<div class="form-group">
				<label class="col-md-2 control-label" for="radios">Multiple Radios</label>
				<div class="col-md-2">
					<div class="radio">
						<label for="radios-0">
							<input name="radios" id="radios-0" value="1" checked="checked" type="radio" data-ng-model="formData.field3" >
							Option one
						</label>
					</div>
					<div class="radio">
						<label for="radios-1">
							<input name="radios" id="radios-1" value="2" type="radio" data-ng-model="formData.field3">
							Option two
						</label>
					</div>
				</div>
			</div>
						<!-- Form Name -->
			<legend>Billing Information</legend>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-2 control-label" for="textinput">Card Holder Name</label>  
				<div class="col-md-2">
					<input id="textinput" name="textinput" placeholder="Card Holder Name" class="form-control input-md" type="text" data-ng-model="billing.field1" >
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-2 control-label" for="textinput ">Card Number</label>  
				<div class="col-md-3">
					<input id="textinput" name="textinput1" placeholder="Card Number" class="form-control input-md" type="text" data-ng-model="billing.field2">
				</div>
			</div>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-2 control-label" for="textinput">Address</label>  
				<div class="col-md-4">
					<input id="textinput" name="textinput2" placeholder="Address Line 1" class="form-control input-md" type="text" data-ng-model="billing.field4"><br>
					<input id="textinput" name="textinput3" placeholder="Address Line 2" class="form-control input-md" type="text" data-ng-model="billing.field5">
				</div>
			</div>
			<!-- Button -->
			<div class="form-group">
				<label class="col-md-2 control-label" for="singlebutton"></label>
				<div class="col-md-2">
					<button  type="submit" id="singlebutton" name="singlebutton" class="btn btn-success">submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
</section>