<section data-ng-controller="RegisterKitController">
<br>
         					
        <div class="col-lg-12">
              <div class="well">
       			 <legend>Register Kit</legend>
               </div>
         </div> 

         <div class="col-lg-6">
         <br>
         	<div class="control-group">
         			<input id="" placeholder="enter register code" class="input-xlarge" data-ng-model="registerField" > 
         			<button  type="submit" id="singlebutton" name="singlebutton" class="btn btn-success" ng-click="checkRegisterCode()"><span class="glyphicon glyphicon-saved"></span> Register</button>
         			

                </button>     
         
 			 </div>  
 		 </div>                                     
  </section>

   

<!--
	<input id="" placeholder="enter register code" class="input-xlarge" type="text" ng-click="checkRegisterCode()"> <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-saved"></span> Register</a> 

	<input id="" placeholder="enter register code" class="input-xlarge" 
         		 <button type="submit" class="btn btn-warning" ng-click="checkRegisterCode()">
                    <span class="glyphicon glyphicon-saved"></span>&nbsp;Register