<section data-ng-controller="RegisterKitController">
<br>  					
    <div class="col-lg-12">
   		<div class="well">
			<legend>Register Kit</legend>
			<form  name="registerKit" role="form">
	      		<div class="control-group" align="center">
	       			<input id="" placeholder="Enter Register Code" class="input-xlarge" data-ng-model="registerField" > 
	         		<button  type="submit" id="singlebutton" name="singlebutton" class="btn btn-success" ng-click="checkRegisterCode()"><span class="glyphicon glyphicon-saved"></span> Register</button>
	     		</div>
	     	</form>
	 	</div>   
  	</div>                                  
</section>