<section data-ng-controller="RegisterKitController">
	<h2>Register Kit</h2>  					
    <div class="col-lg-4">
   		<div class="well">
			<form  name="registerKit" role="form">
	      		<div class="control-group">
	       			<input id="" placeholder="Enter Register Code" class="input-xlarge" data-ng-model="registerField" > 
	         		<button  type="submit" id="singlebutton" name="singlebutton" class="btn btn-success" ng-click="checkRegisterCode()"><span class="glyphicon glyphicon-saved"></span>Register</button>
	     		</div>
	     	</form>
	 	</div>   
  	</div>                                  
</section>