<section class="row" data-ng-controller="AuthenticationController">

	<h3 class="col-md-12 text-center">Login with your account</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-7">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary" >Sign in</button>
					<button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
					<div class "forgot-password">
						<br>
							<a href ng-controller="ModalController" ng-click="open('sm', '/modules/users/views/password/forgot-password.client.view.html')">Forgot Password?</a>
							
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</section>
 