<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-2 col-xs-10 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<!-- *************************************************************************** -->
				<div ng-controller="DatePickerController">
			   	<!--<pre><em>{{dt| date:'fullDate' }}</em></pre> -->
			   	   	<div class = "form-group">
					    <label>Date of Birth</label>
					    <p class="input-group">
				              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Date of Birth" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
					     </p>
					     
					</div>
				</div>
			   <label for="lastName">Gender </label></br>
			   <input type="radio" ng-model="color" ng-value="specialValue"> M 
			   <input type="radio" ng-model="color" value="blue"> F 
			  <!-- </form> -->
		
			<!-- *************************************************************************** -->
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="retypePassword">Retype Password</label>
					<input type="password" id="retypePassword" name="retypePassword" class="form-control" data-ng-model="credentials.retypePassword" placeholder="retypePassword">
				</div>
				<!-- ***************************************************************************** -->
				<select>
				  <option value="user" ng-click = "noVerification()">User</option>
				  <option value="Lab"  ng-click = "toggle()">Lab</option>
				  <option value="Admin" ng-click = "toggle()">Admin</option>
				</select>
				 <div ng-show="checked">
				    <div class="form-group">
						<label for="verification">Verification Code</label>
						<input type="text" id="verification" name="verification" class="form-control" data-ng-model="credentials.verification" placeholder="Verification">
				    </div>
				  </div>
				<!-- ***************************************************************************** -->
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>